name: Create github release & release notes

on:
  pull_request:
    branches:
      - develop
      - main
      - master
    types: [ labeled ]
  workflow_dispatch:

jobs:
  save-version:
    if: github.event.label.name == 'create release'
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.current-version.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - id: current-version
        run: echo "version=v$(npm pkg get version  | tr -d '\"')" >> $GITHUB_OUTPUT

  create-release:
    needs:
      - save-version
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Create new draft release
        env:
          VERSION: ${{ needs.save-version.outputs.version }}
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/$GITHUB_REPOSITORY/releases \
            -f tag_name=$VERSION \
            -f target_commitish='develop' \
            -f name=$VERSION \
            -F draft=true \
            -F prerelease=false \
            -F generate_release_notes=true
      - name: Delete old bot comments
        if: ${{ github.event_name == 'pull_request' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_ID: ${{ github.event.pull_request.number }}
          REPO: ${{ github.repository }}
        run: |
          curl \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token $GITHUB_TOKEN" \
            https://api.github.com/repos/$REPO/issues/$PR_ID/comments \
          | jq ".[] | select(.user.login==\"github-actions[bot]\")  | select(.body | match(\"xverse-core/releases\")) | .id" \
          | xargs -I %q curl \
            -L \
            -X DELETE \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token $GITHUB_TOKEN"\
            https://api.github.com/repos/$REPO/issues/comments/%q
      - name: Post what changed PR comment
        if: ${{ github.event_name == 'pull_request' }}
        env:
          VERSION: ${{ needs.save-version.outputs.version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_URL: ${{ github.event.pull_request.comments_url }}
        run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token $GITHUB_TOKEN" \
            $GITHUB_URL \
            -d "{\"body\":\"See what's changed: https://github.com/secretkeylabs/xverse-core/releases/tag/$VERSION \"}"
